{% extends "base/base.html" %}
{% load static %}

{% block content%}


<div class="box ml-10">
    
    <div class="bg-white flex">
        <div class="max-w-2xl mx-auto py-16 px-4  sm:px-6 lg:max-w-7xl lg:px-8">
            <a href="{% url 'products' %}" class=" m-1 font-extrabold flex">
                <svg class="h-6 w-4 text-pink-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <polygon points="19 20 9 12 19 4 19 20" />  <line x1="5" y1="19" x2="5" y2="5" /></svg>
                <spanc class="text-gray-500 font-medium">Regresar</span></a>
          <div class="flex w-full justify-between">
          <h2 class="text-lg font-medium tracking-tight text-gray-900 p-2 ">Productos</h2>
          {% for fav in favorites %}
              {% if request.user == fav.favorite_user and object.pk == fav.favorite_product.pk  %}
              <a class="mt-4" href="{% url 'FavoriteP' object.pk %}"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-500" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" /></svg></a>
              
              {% endif %}

              {% empty %}
              <a class="mt-4" href="{% url 'FavoriteP' object.pk %}"><svg class="h-5 w-5 text-red-500"  width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M12 20l-7 -7a4 4 0 0 1 6.5 -6a.9 .9 0 0 0 1 0a4 4 0 0 1 6.5 6l-7 7" /></svg></a>
          {% endfor %}
        </div>
          <hr>

<div class="group relative">
    <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
   <img src="{{object.img.url}}" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
    </div>
    <div class="mt-4 flex justify-between">
      <div>
        <h3 class="text-sm text-gray-700">
          <p class="text-violet-800 font-semibold" href="#">
            <span aria-hidden="true" class="absolute inset-0 "></span>
            {{object.name}}
          </p>
        </h3>
        <p class="mt-1 text-sm text-gray-500">cantidad:{{object.quantity}}</p>
      </div>
      <p class="text-sm font-medium text-gray-900">{{object.price}}</p>
    </div> 
  </div>

</div>
</div>

</div>


{% endblock %}