{% extends "base/base.html" %}
{% load static %}

{% block content%}
<div class="box ml-10">
    
    <div class="bg-white ">
        <div class="max-w-2xl mx-auto py-16 px-4  sm:px-6 lg:max-w-7xl lg:px-8">
          <h2 class="text-lg font-medium tracking-tight text-gray-900 p-2 ">Productos</h2>
          <hr>
          <div class="mt-6">
            {% for products in products_page %}

            <div class=" bg-white rounded-lg border shadow-md m-4 dark:bg-gray-800 dark:border-gray-700 w-full">

             <div class="flow-root">
               <a href="{% url 'detail_products' products.id %}">
                  <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                      <li class="py-3 sm:py-4">
                          <div class="flex items-center space-x-4">
                              <div class="">
                                  <img class="w-60 h-50 object-cover ml-2" src="{{products.img.url}}" alt="Products">
                              </div>
                              <div class="flex-1 min-w-0">
                                <h3 class="text-violet-800 pb-4 text-xl font-medium  leading-none dark:text-white">{{products.name}}</h3>
                                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                      disponible:
                                      {% if products.active == True %}
                                      activo
                                      {% else %}
                                      no disponible
                                      {% endif %}
                                  </p>
                                  <p class="text-sm text-gray-500 truncate text-gray-400">
                                      cantidad: <span>{{products.quantity}}</span>
                                  </p>
                              </div>
                              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white p-4">
                                  $ {{products.price}}
                              </div>
                          </div>
                      </li>  
                  </ul>
                </a>
             </div>
          </div>


            {% empty %}

            <li>no hay productos disponibles.</li>
            {% endfor %}
      
            <!-- More products... -->

          </div>
        </div>
        
      </div>

</div>




<div class="pagination text-center">
  <span class="step-links">
      {% if products_page.has_previous %}
          <a href="?page=1" class="bg-violet-500  inline-flex items-center py-2 px-4 text-sm font-medium text-white bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            first
          </a>
          <a id="anterior" href="?page={{ products_page.previous_page_number }}" class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            Anterior
          </a>
      {% endif %}
      
      <span class="current">
          Page {{ products_page.number }} of {{ products_page.paginator.num_pages }}.
      </span>

      {% if products_page.has_next %}
      <a id="siguiente" href="?page={{ products_page.next_page_number }}" class="inline-flex items-center py-2 px-4 ml-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        Siguiente
      </a>
      {% endif %}
  </span>
</div>




{% endblock %}


{% block js %}
<script>
  var sig=document.getElementById("siguiente");
  var ant=document.getElementById("anterior")
  if(sig!=null){
    
    //siguiente pag
    sig.addEventListener("click",(e)=>{

    e.preventDefault();
    atri_page_sig=sig.getAttribute("href")
    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('search');
    if(myParam != null || myParam == ""){
      document.location.search = `${atri_page_sig}&search=${myParam}`;

    }else{
      document.location.search = `${atri_page_sig}`;
    }

    })

  }


  if(ant!=null){
    
    //siguiente pag
    ant.addEventListener("click",(e)=>{

    e.preventDefault();
    atri_page_ant=ant.getAttribute("href")
    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('search');

    if(myParam != null || myParam == ""){
      document.location.search = `${atri_page_ant}&search=${myParam}`;

    }else{
      document.location.search = `${atri_page_ant}`;
    }

    })

  }
  
  </script>
{% endblock %}



